COMPOSE_PROJECT_NAME=campus-link

POSTGRES_DB=campus_link
POSTGRES_USER=campus_link
POSTGRES_PASSWORD=campus_link

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
